[submodule "project-template"]
	path = project-template
	url = https://github.com/0xMiden/project-template.git
[submodule "frontend-template"]
	path = frontend-template
	url = https://github.com/0xMiden/frontend-template.git
	branch = main
